$borderHighlight: #ff470f;
$borderColor: #c9c9c9;

div.source-input-label {
  top: 6px;
  left: 6px;
  position: absolute;
}

input[type="number"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inherit;
  font-size: 60px;
  text-align: right;
  width: 100%;
  padding: 10px;
  border: solid 5px $borderColor;
  transition: border 0.3s;
}

div.source-container {
  margin: 20px;
  position: relative;
}

kendo-dropdownlist {
  width: 100%;
}

input[type="number"]:focus {
  outline: none;
  border: solid 5px $borderHighlight;
}
