footer {
    font-size: xx-small;
    width: 100%;
    bottom: 0;
    position: fixed;
    vertical-align: -webkit-baseline-middle middle;
}
h1 {
    text-align: center;
}

div.content{
    background-color: navajowhite; 
}